# This file contains the environment variables that are used by the application.

# AI studio demo credentials
AZURE_SEARCH_SERVICE_ENDPOINT="<your-search-service-endpoint>"
AZURE_SEARCH_ADMIN_KEY="<your-search-admin-key>"
AZURE_SEARCH_INDEX="product-info"
BLOB_CONNECTION_STRING="<your-blob-connection-string>"
BLOB_CONTAINER_NAME="<your-blob-container-name>"

AZURE_SUBSCRIPTION_ID = "<your-subscription-id>"
AZURE_AISTUDIO_PROJECT_RESOURCE_GROUP = "<your-project-resource-group>"
AZURE_AISTUDIO_PROJECT_NAME = "<your-project-name>"
AISTUDIO_AZURE_OPENAI_ENDPOINT="<your-openai-endpoint>"
AISTUDIO_AZURE_OPENAI_KEY="<your-openai-key>"
AISTUDIO_OPENAI_GPT4_DEPLOYMENT_NAME="gpt-4"
AISTUDIO_AZURE_OPENAI_EMBEDDING_DEPLOYMENT="text-embedding-ada-002"
AISTUDIO_AZURE_OPENAI_EMBEDDING_MODEL_NAME="text-embedding-ada-002"
AISTUDIO_AZURE_OPENAI_EMBEDDING_DIMENSIONS=1536
AISTUDIO_AZURE_OPENAI_DALL_E_DEPLOYMENT="dall-e-3"
AI_STUDIO_AZURE_OPENAI_GPT4o_DEPLOYMENT="gpt-4o"
AI_STUDIO_AZURE_OPENAI_GPT4oMINI_DEPLOYMENT="gpt-4o-mini"
AISTUDIO_AISERVICES_ENDPOINT="<your-aiservices-endpoint>"
AISTUDIO_AISERVICES_KEY="<your-aiservices-key>"
AISTUDIO_GPT4o_DEPLOYMENT_NAME_EASTUS="gpt-4o-eastus"
AISTUDIO_AISERVICES_REGION="eastus"
# This field is only necessary if you want to use OCR to scan PDFs in the data source
AISTUDIO_AZURE_AI_SERVICES_KEY="<your-azure-ai-services-key>"

AZURE_FORM_RECOGNIZER_ENDPOINT="<your-form-recognizer-endpoint>"
AZURE_FORM_RECOGNIZER_KEY="< your-form-recognizer-key>"

AZURE_COMPUTER_VISION_ENDPOINT="<your-computer-vision-endpoint>"
AZURE_COMPUTER_VISION_KEY="<your-computer-vision-key>"


SWEDEN_AZURE_OPENAI_ENDPOINT = "<your-openai-endpoint>"
SWEDEN_AZURE_OPENAI_API_KEY = " <your-openai-key>"
SWEDEN_OPENAI_GPT4_DEPLOYMENT_NAME = "<your-gpt4-deployment-name>"
SWEDEN_OPENAI_GPT4o_DEPLOYMENT_NAME = "<your-gpt4o-deployment-name>"
SWEDEN_OPENAI_EMBEDDNG_ADA2_DEPLOYMENT_NAME = "<your-embedding-deployment-name>"

AZURE_OPENAI_ENDPOINT= "<your-openai-endpoint>"
AZURE_OPENAI_API_KEY= "<your-openai-key>"
AZURE_OPENAI_API_VERSION = "2024-10-01-preview"
AZURE_OPENAI_EMBEDDINGS_ADA_DEPLOYMENT_NAME = "text-embedding-ada-002"


# cosmosdb for mongo - vcore 
COSMOS_MONGO_CONNECTION_STRING = "<your cosmos mongo connection string>"
COSMOS_INDEX_NAME = "embed-test-index"
COSMOS_DBNAME = "embed-test-db"
COSMOS_COLLECTION_NAME = "embed-test-collection"

ALPHA_VANTAGE_API_KEY="<your-alpha-vantage-api-key>"

# SQL Server details
SQL_SERVER="<your-sql-server-name>.database.windows.net"
SQL_DBNAME="<your-sql-db-name>"
SQL_USER="<your-sql-user>"
SQL_PWD="<your-sql-password>"

SPEECH_ENDPOINT = "<your-speech-endpoint>"
SPEECH_KEY ="<your-speech-key>"
SPEECH_REGION = "<your-speech-region>"

AIFOUNDRY_AI_SERVICES_EASTUS2_ENDPOINT="<your-ai-services-endpoint>"
AIFOUNDRY_AI_SERVICES_EASTUS2_KEY="<your-ai-services-key>"
AIFOUNDRY_OPENAI_GPT4o_DEPLOYMENT="gpt-4o-eastus2"
AIFOUNDRY_OPENAI_API_VERSION="2024-10-21"
AIFOUNDRY_RESOURCE_GROUP_NAME="<your-resource-group-name>"
AIFOUNDRY_PROJECT_NAME="<your-ai-foundry-project-name>"

NL_TO_KQL_KUSTO_URI = "<fabric Eventhouse cluster URI>"
NL_TO_KQL_KUSTO_DATABASE = "stock"
NL_TO_KQL_KUSTO_TABLE = "Stocks"